extends layout

block content
     div(class='card')
          div(class='card-header')     
               h2= title
          div(class='card-body')
               div(class='d-grid gap-2')
                    a(href='https://github.com/EriVelk' class='btn btn-dark') My Github <i class="fa fa-github" aria-hidden="true"></i>
                    a(href='https://twitter.com/erve_pud' class='btn btn-info') My Twitter <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    a(href='https://www.facebook.com/erick.veliz.16144/' class='btn btn-primary') My Facebook <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    a(href='https://www.instagram.com/its.velicioso/' class='btn btn-danger') My Instagram <i class="fa fa-instagram" aria-hidden="true"></i>
